.jumbotron {
    padding-top: 6rem;
    background-color: #e2edff;
}

#card-blog {
    background-color: #e2edff;
}

section {
    padding-top: 5rem;
}

.jumbotron img {
    transition: 0.3s;
}

.jumbotron img:hover {
    transform: scale(2);
}